<head>
  <div class="headtop navbar" style="display: flex;background-color:rgb(0,53,128);">
    <div class="nav-logo" style="margin: 0px 1px">
      <img class="img-logo" style="margin:20px 30px" src="/img/logo.jpg" alt="logo" height="65" width="65">
      <a href="/" class="homepage"
        style="font-weight: 500px; font-size: 49px;margin-left:12px; color: black; line-hight:0;font-style:normal">BookPhong.com</a>
      <h3 id="user-name" style="color: white;"></h3>
    </div>

    <div class="nav-log form-inline  " style="left:100%">
      <button type="button" class="btn btn-light" style="margin-right:5px">Bạn muốn cho thuê phòng</button>
            <a id="btn-login" href="/login" button type="button" style="margin-right:5px" class="btn btn-light">Đăng nhập</a>
            <a id="btn-register" href="/register" button type="button" class="btn btn-light">Đăng kí</a>
            <a id="btn-user_info" href="/user_info" button type="button" class="btn btn-light">Trang cá nhân</a>
            
            <a id="btn-logout" onclick="logout();" button type="button" style="margin-left:5px;" class="btn btn-light">Đăng xuất</a>

    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:12px">
    <a class="navbar-brand" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Tìm phòng <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cho thuê phòng</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Liên hệ 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link enabled" href="#">Tìm kiếm</a>
        </li>
      </ul>
    </div>
  </nav>
</head>
<script>
    //session
    function saveSession(key, value) {
      console.log(value)
        localStorage.setItem(key, value);
    }

    function clearSession() {
        localStorage.clear();
    }

    function logout() {
        clearSession();
        manageButtons();
        window.location.href = '/login';
    }

    function manageButtons() {
        
        if(!localStorage.getItem('username')) {
            document.getElementById('btn-login').style.display = "block";
            document.getElementById('btn-register').style.display = "block";
            document.getElementById('btn-user_info').style.display = "none";
            
            document.getElementById('btn-logout').style.display = "none";
        } 
        else {
            document.getElementById('user-name').innerHTML = localStorage.getItem('username');
            document.getElementById('btn-login').style.display = "none";
            document.getElementById('btn-register').style.display = "none";
            document.getElementById('btn-user_info').style.display = "block";
           
            document.getElementById('btn-logout').style.display = "block";
        }
    }
    manageButtons();
</script>