<script>
   function myFunction() {
        var user1 = localStorage.getItem("username");
        var foo = "{{users}}";
        var test = {{{json users}}};
        console.log(test)
        for(let t of test){
          console.log(t.name)
          console.log(user1)
          if(t.name.trim() === user1.trim()) {
            console.log(t)
            document.getElementById("email").innerHTML = t.email;
            document.getElementById("name").innerHTML = t.name;
            document.getElementById("password").innerHTML = t.password;
          }
        }
   }

      </script>
<body onload="myFunction()">
<div class="row mt-5">

  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Trang cá nhân</h1>
      <h1><span id="myText"></span></h1>

        <div class="form-group">
             <label for="name">Email</label>
             <h3 id='email'></h3>
            </div>
            <div class="form-group">
             <label for="name">Name</label>

             <h3 id='name'>  </h3>
            </div>
            <div class="form-group">
             <label for="password">Password</label>
            <h3 id='password'> </h3>
            </div>
    </div>
  </div>
</div>
</body>

	<div class="col-md-7 m-auto">
		<h1 class="text-left">Cài đặt tài khoản</h1>
			<div class="card-group">
			  	<div class="card card-body">
					<h4 class="card-title">Thông tin cá nhân</h4>
				  	<p class="card-text">Cập nhật thông tin cá nhân và tìm hiểu thông tin này được sử dụng để làm gì.</p>
					<a href="/" class="btn btn-primary">Cập nhật</a>

			  	</div>
			  	<div class="card card-body">
				  	<h4 class="card-title">Cài đặt hiển thị</h4>
				  	<p class="card-text">Thay đổi ngôn ngữ, tiền tệ hiển thị trên trang web.</p>
					<a href="/" class="btn btn-primary">Cập nhật</a>
			  	</div>
			  	<div class="card card-body">
				  	<h4 class="card-title">Bảo mật</h4>
				  	<p class="card-text">Cập nhật thông tin bảo mật.</p>
					<a href="/" class="btn btn-primary">Cập nhật</a>
			  	</div>
			</div>
		<div class="card-group">
			  	<div class="card card-body">
					<h4 class="card-title">Thông tin thanh toán</h4>
				  	<p class="card-text">Thêm hoặc xóa thẻ ATM, ngân hàng để giúp bạn thanh toán đặt phòng dễ dàng hơn.</p>
					<a href="/" class="btn btn-primary">Cập nhật</a>
			  	</div>
			  	<div class="card card-body">
				  		<h4 class="card-title">Thông báo email</h4>
				  		<p class="card-text">Quyết định xem bạn muốn nhận tin báo email hay không khi có thông tin mới nhất về các phòng trọ.</p>
						<a href="/" class="btn btn-primary">Cập nhật</a>
			  	</div>
			</div>
	</div>
</div>

