<div class="row mt-5">
	<div class="col-md-7 m-auto">
		<h1 class="text-left">Account Settings</h1>
			<div class="card-group">
			  	<div class="card card-body">
					<h4 class="card-title">Personal details</h4>
				  	<p class="card-text">Update your info and find out how it's used.</p>
					<a href="/" class="btn btn-primary">Manage personal details</a>

			  	</div>
			  	<div class="card card-body">
				  	<h4 class="card-title">Preferences</h4>
				  	<p class="card-text">Change your language, currency and accessibility requirements.</p>
					<a href="/" class="btn btn-primary">Manage preferences</a>
			  	</div>
			  	<div class="card card-body">
				  	<h4 class="card-title">Security</h4>
				  	<p class="card-text">Adjust your security settings and set up two-factor authentication.</p>
					<a href="/" class="btn btn-primary">Manage account security</a>
			  	</div>
			</div>
		<div class="card-group">
			  	<div class="card card-body">
					<h4 class="card-title">Payment details</h4>
				  	<p class="card-text">Securely add or remove payment methods to make it easier when you book.</p>
					<a href="/" class="btn btn-primary">Manage payment details</a>
			  	</div>
			  	<div class="card card-body">
				  		<h4 class="card-title">Email notifications</h4>
				  		<p class="card-text">Decide what you want to be notified about and unsubscribe from what you don't.</p>
						<a href="/" class="btn btn-primary">Manage notifications</a>
			  	</div>
			</div>
	</div>
</div>