<script>
   function myFunction() {
        var user1 = localStorage.getItem("username");
        var foo = "{{invoices}}";
        var test = {{{json invoices}}};
        console.log(test)
        let str = '';
        for(let t of test){
          console.log(t.P2)
          console.log(user1)
          if(t.P2.trim() === user1.trim()) {
            console.log(t)
            str += '<tr> <td>'+t.Hotel+'</td> <td>'+t.Room+'</td> <td>'+t.Period+'</td> <td>'+t.Payments+'</td> <td>'+t.Date+'</td> </tr> ';
          }
        }
        document.getElementById('str').innerHTML = str;
        console.log(str);
   }
</script>
</script>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Khách sạn</th>
            <th scope="col">Phòng</th>
            <th scope="col">Kỳ hạn</th>
            <th scope="col">Hình thức thanh toán</th>
            <th scope="col">Ngày lập</th>
        </tr>
    </thead>
    <body onload="myFunction()">
    <tbody id="str"> 
    </tbody>
    </body>
</table>